body {
    background-color: rgb(29, 193, 211);
    
}

img {
    max-width: 200px;
    max-height: 200px;
   

}
#image-selection {
    position: relative;
    left: 100px;

}

button {
    background-color: lightpink;
    
}




h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(200, 65, 99);
    text-align: center;
    font-size: 65px;
    padding: 7px;
}

h2 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
    font-size: 40px;
}




  